.profile__edit-btn {
  display: inline-block;
  position: absolute;
  right: -41px;
  top: 20px;
  grid-area: profile-heading;
  width: 24px;
  height: 24px;
  background-color: #000;
  background-image: url('../../../images/edit-btn.png');
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 0;
}

.profile__edit-btn:hover {
  opacity: .6;
}

.profile__edit-btn:focus {
  outline: none;
}

@media screen and (max-width: 760px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    right: -24px;
  }
}
