.elements__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 79px;
  padding-left: 20px;
  padding-right: 15px;
  box-sizing: border-box;
  background-color: #fff;
}